<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">
    <beans:bean id="myAuthenticationSuccessHandler" class="com.ssmvue.security.myAuthenticationSuccessHandler"></beans:bean>

    <!--
        https://blog.csdn.net/q274974359/article/details/51924818
        http://wiki.jikexueyuan.com/list/java/
    -->
    <http auto-config="true" use-expressions="true" >
        <form-login
                login-page="/login"
                authentication-failure-url="/login?error"
                login-processing-url="/login"
                always-use-default-target="false"
                authentication-success-handler-ref="myAuthenticationSuccessHandler" />
        <!-- 认证成功用自定义类myAuthenticationSuccessHandler处理 -->

        <logout logout-url="/logout"
                logout-success-url="/"
                invalidate-session="true"
                delete-cookies="JSESSIONID"/>

        <csrf disabled="true" />
        <intercept-url pattern="/order/*" access="hasRole('ROLE_USER')"/>
    </http>

    <!-- 使用自定义类myUserDetailsService从数据库获取用户信息 -->
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="user" password="user" authorities="ROLE_USER"/>
                <user name="admin" password="admin" authorities="ROLE_USER, ROLE_ADMIN"/>
            </user-service>
            <!-- 加密 -->
            <password-encoder hash="md5">
            </password-encoder>
        </authentication-provider>
    </authentication-manager>


</beans:beans>